<div #map id="map" class="map"></div>

<ej-grid
  [dataSource]="datasource"
  #legs
  id="legs"
  (dataBound)="dataBound()"
  [editSettings]="{ allowEditing: true, allowAdding: true, allowDeleting: true }"
  [toolbar]="['add', 'edit', 'delete']"
  (actionComplete)="actionComplete($event)"
  height="150"
>
  <e-columns>
    <e-column headerText="From" field="from"></e-column>
    <e-column headerText="To" field="to"></e-column>
    <e-column headerText="True Heading" field="trueHeading" [type]="'number'"></e-column>
    <e-column headerText="Distance" field="distance" [type]="'number'"></e-column>
    <e-column headerText="Corrected Heading" field="heading" [allowEditing]="false" [type]="'number'"></e-column>
    <e-column headerText="Ground Speed" field="groundSpeed" [allowEditing]="false" [type]="'number'"></e-column>
    <e-column headerText="Time" field="timeNeeded" [allowEditing]="false" [type]="'number'"></e-column>
    <e-column headerText="Fuel" field="fuelNeeded" [allowEditing]="false" [type]="'number'"></e-column>
  </e-columns>
</ej-grid>
