<ej-grid [dataSource]="datasource" [editSettings]="{ allowEditing: true, allowAdding: true, allowDeleting: true }">
  <e-columns>
    <e-column headerText="From" field="from"></e-column>
    <e-column headerText="To" field="to"></e-column>
    <e-column headerText="True Heading" field="trueHeading"></e-column>
    <e-column headerText="Distance" field="distance"></e-column>
    <e-column headerText="Corrected Heading" field="heading"></e-column>
    <e-column headerText="Ground Speed" field="groundSpeed"></e-column>
    <e-column headerText="Time" field="timeNeeded"></e-column>
    <e-column headerText="Fuel" field="fuelNeeded"></e-column>
  </e-columns>
</ej-grid>
