/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;

  height: 100%;
}

.leaflet-draw-toolbar a {
  background-image: url('./assets/spritesheet.svg');
}

.minute-marker {
  position: absolute;
  margin-left: -2px !important;
  margin-top: -10px !important;
  width: 4px !important;
  height: 10px !important;
  background: #111;
  border: 1px solid #666;
}

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@angular/material/theming';
@import "~@syncfusion/ej2-ng-grids/styles/material.css";
@import "~leaflet/dist/leaflet.css";
@import "~leaflet-draw/dist/leaflet.draw.css";
